body{
    background-color:rgb(178, 221, 247);
}

/*---------nav------------*/
ul {
	list-style-type: none;
	margin: 100;
	overflow: scroll;
	margin-bottom: 20px; /* space between header and content */
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
  }

.current{text-transform: uppercase; 
	background-color: rgba(31, 121, 238, 0.418);
	color: white;
}

.skip-main {
	color: rgb(178, 221, 247);
	text-decoration: none;
}

/*---------- footer----------- */
.footer {
    background-color: #333;
    color: #eeeeee;
    border-top: 1px solid white;
    height: 20px;  /* footer height */
    padding-top: 0;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
}

/* ------ fonts ---FIND CONVERSION RATES*/
h1{font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	padding: .25em;
}
h2{font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}

p{font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 200%;
}

/* ------flexbox ------ */
.flexcontainer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}


/* ------Photos ------ */
.about-image{
	object-fit: contain;
	align-self: flex-start;
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 0 100px 20px 100px;
}

.research_image{
	object-fit: contain;
	align-self: flex-start;
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 0 100px 20px 100px;
}

.ala_image{
	object-fit: contain;
	align-self: flex-start;
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 0 100px 20px 100px;
}

.photogrid{
	object-fit: contain;
	align-self: flex-start;
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 0 100px 20px 100px;
}
.flex-container {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	display: flex;
  align-items: center;
}

.flex-images{
	object-fit: contain;
	align-self: flex-start;
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
	margin: 0 50px 20px 50px;
}

.Background_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("StepOneWall.jpg");
  height: 0%;
  background-position: left;
	position: relative;
	max-height:10% ;
}

.Background_image_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: black;
	height: 100%;
  margin: 0;
}


@media only screen and (min-width: 600px) {
  body {
    background-color:rgb(178, 221, 247);
  }
}

